.business-page-nav {
  /* background-color: #c41200; */
  /* display: block; */
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  /* position: relative; */

  /* margin-left: 35px; */
  /* margin-right: 35px; */
  /* position: static; */
}

#search-home-bus{
  box-shadow: 2px 2px 2px 2px #c8c9ca;
  background-color: green;
  
}

.plswork123{
  /* display: flex;
  height: 430px;
  align-items: center;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box; */
  display: flex;
  justify-content: center;
  margin-top: 25px;

  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  

}

.bis-splash{
  display: flex;
  height: 430px;
  /* border: 1px solid #eeeeef; */
  display: flex;
  justify-content: center;
  width: 330px;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;

  overflow: hidden;
  white-space: nowrap;
}

.bis-splash img{
  max-width: 300px;
  max-height: 180px;
}

#map-container{
  width: 500px;
  height: 500px
}

/* .busnav{

} */

.hero-img-bus-nav{
  margin-left: 35px;
  white-space: nowrap;
  position: relative;
  /* margin-right: 30px; */

}

.bus-menu-options{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-top: 20px;
  white-space: nowrap;
  position: relative;
}

.fas {
  color: black;
  white-space: nowrap;

}

.bus-head {

  display: flex;
  justify-content: center;
  margin-top: 25px;

  width: 100%;

  overflow: hidden;
  white-space: nowrap;
}

