.business-page-nav {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#search-home-bus {
  box-shadow: 2px 2px 2px 2px #c8c9ca;
  background-color: green;
}

.bis-name {
  color: #0073BB;
  text-decoration: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.28571em;
  font-weight: bold;
  font-size: x-large;
}

.plswork123 {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: inherit;
}

.bis-splash {
  display: flex;
  justify-content: center;
  width: 330px;
  margin: 15px 0;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.bis-splash img {
  max-width: 300px;
  max-height: 180px;
  justify-content: center;
}

#map-container {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.hero-img-bus-nav {
  margin-left: 85px;
  white-space: nowrap;
  position: relative;
  height: 125px;
}

.bus-menu-options {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-top: 20px;
  white-space: nowrap;
  position: relative;
}

.fas {
  color: black;
  white-space: nowrap;
}

.bus-head {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 1;

}

/* .business-about{
  margin-top: 0px;
} */

.business-title {
  font-size: 32px;
  color: #0073BB;
  text-decoration: none;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.28571em;
  font-weight: bold;
  padding: 0px;
  margin-bottom: -12px;
  position: relative;
  z-index: 2;
  display: flex;

}

.bus-info-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bus-info-body {
  display: flex;
  justify-content: center;
  align-content: space-between;
  column-gap: 700px;
  white-space: nowrap;
}

.bus-reviews-1 {
  display: flex;
  justify-content: center;
  align-content: space-between;
  column-gap: 300px;
  white-space: nowrap;
}

.bis-splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bis-phone {
  color: black;
}

.bis-address {
  color: black;
}

.bis-link1 {
  text-decoration: none;
}

#busdir button {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
  padding-left: 3px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
}

/* .map-under span {
  display: block;
} */

#bus-imgs {
  display: inline-flex;
  position: relative;
}



.bus1-about-box {
  display: flex;
  
  position: absolute;
  width: 60%;
  height: 90%;
  /* outline: auto; */
  background-color: transparent;
  vertical-align: baseline;
  flex-direction: column;
  justify-content: flex-end;
}

.bus-names {
  color: #fff;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 700;
  /* -webkit-letter-spacing: -0.4px;
  -moz-letter-spacing: -0.4px;
  -ms-letter-spacing: -0.4px; */
  letter-spacing: -0.4px;
  line-height: 56px;
  word-wrap: break-word !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  /* color: rgba(45, 46, 47, 1); */
  display: inline;
}

