.index-nav-bar {
    position: fixed;
    top: 0px;
    width: 100vw;
    background-color: #eeeeef;
    padding-bottom: 30px;
    border-bottom: solid 1px lightgray;
}
.business-index-container {
    width: 1200px;
    margin: 110px auto;
    display: flex;
    min-height: 500px;
}

.business-index-footer {
    width: 60.5vw;
}