#main-nav-bar {
    z-index: 9;
    position: relative;
    top: 0;
    width: 1200px;
    margin: auto;
}

#main-nav-bar #dropdown-container {
    background-color: lightgray;
    border: solid 2px gray;
    border-radius: 3px;
}

#main-nav-bar .nav-links a {
    background-color: transparent;
    color: white;
    padding: 10px 12px 10px 12px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    transition: 0.5s;
}

#main-nav-bar .nav-links a:hover {
    color: black;
    background-color: white;
}

.splash-background img {
    width:100%;
    height:600px;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(75%);
}

.splash-background {
    height: 625px;
    width: 100%;
    position: absolute;
    top: 0px;
    /* z-index: -1; */
}

.splash-main {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.main-logo {
margin: 0px auto 0px auto;

}
.main-logo img{
    /* height: 125px; */
    width: 270px;
    filter: brightness(100%);

}

.fa, .fas {
    font-weight: 500;
}

.splashsearch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: table-cell;
}

.homesearch {
    margin: 0 auto 0 auto;
    box-shadow: -2px 2px 2px 2px #c8c9ca;
    align-items: center;
    height: 45px;
    display: table-cell;
    text-align:center;
    display:table;
    width: 912px;
    text-align:center;

}

.findsearchtext{
    
    width: 300px;
    border: none;
    font-weight: bold;
    background-color: white;
    padding-left: 0px;
    display:table-cell;
    margin-right: 0px;
    align-items: center;

}

#findme{
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: white;
    padding-right: 50px;
    padding-left: 10px;
    font-size:18px;
    display:table-cell;
    height: 14.5px;
}

#search-submit {
    
    border: none;
    font-weight: bold;
    background-color: white;
    
    padding-right: 10px;
    display:table-cell;
    
    text-align: center;
    outline: none;
}

#search-submit button{
    border: none;
    outline: none;
    background-color: #c41200;
    height: 48px;
    font-weight: bold;
    width: 56px;
    margin-right: -10px;
    cursor: pointer;
    color: white;
    size: 30;
}

#leftDiv{
    border: none;
    font-weight: bold;
    background-color: white;
    padding-left: 10px;
    display:table-cell;
    margin-right: 0px;
    text-align: center;
}
#leftDiv input{
    height: 40px;
    align-items: center;
    font-size: 18px;
}

#rightDiv{
    width: 300px;
    border: none;
    font-weight: bold;
    background-color: white;
    padding-left: 0px;
    display:table-cell;
    margin-right: 0px;
}

#rightDiv input{
    height: 40px;
    width: 300px;
    align-items: center;
    font-size: 18px;
}

.findnear{
    color: black;
    width: 35px;
    border: none;
    

}

.findneartext{
    width: 360px;
    border: none;
    font-weight: bold;
    background-color: white;
    padding-left: 0px;
    display:table-cell;
    margin-right: 43px;
}

.searchsubmit button{
    outline: none;
}

.new-businesses {
    margin-top: 240px
}

.new-businesses-title {
    text-align: center;
    color: #c41200;
    font-size: 32px;
    font-weight: bold;
}

.new-business {
    display: flex;
    justify-content: center;
    list-style: none;
}

.about-user{
    margin-left: 500px;
    margin-right: 250px;
    margin-top: 50px;
}

.mylinks{
    margin-right: 500px;
    margin-top: 50px;
    padding-bottom: 20px;
    margin-left: 250px;
}

.footer p{
    color: #c41200;
    font-size: 24px;
    font-weight: bold;
}

.git-img{
    height: 30px;
}

.ln-img{
    height: 30px;
    padding-bottom: 20px;
}

.gmail p{
    color: black;
    font-size: 16px;
    font-weight:500
}